* {
    margin: 0;
}

/*
:root {
    --header-outer-height: 150px;
    --header-inner-height: 100px;
    --header-height-difference: calc(
        var(--header-outer-height) - var(--header-inner-height)
    );
    --color-a:rgb(255, 255, 255);
    --color-b: rgb(232, 232, 232); 
    --color-c: rgb(161, 169, 175);
    --color-d:rgb(105, 123, 142);
    --color-e:rgb(50, 61, 68);
    --color-f: rgb(0, 0, 0);
    --font-family-a: 'Quicksand';
    --font-family-b: 'Euphoria Script';
    */



    







/* 
header {

    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 15vh;
    background-color: rgb(158, 113, 45); 
}
*/
/* .topnav {
    background-color: aqua;
    display: flex;
    align-items: center;
}

#myLinks {
    background-color: blue;
}

.topnav a {
    text-decoration: none;
} */








.navbar {
    opacity: 50%;
}

main {
    background-color: blueviolet;
}

#start {
    background-color: blanchedalmond;
    height: 100vh;
    background-image: url(/img/jean-philippe-delberghe-75xPHEQBmvA-unsplash\ \(2\).jpg);
    background-size: cover;
    padding-top: 10rem;
}


#pil-div {
    display: flex;
    justify-content: center;
    margin-top: 15rem;
}

#pil-bild {
    height: 4rem;
}

#intro {
    height: 100vh;
    padding-top: 15rem;
    padding-left: 12rem;
    padding-right: 12rem;
}

#bebis {
    height: 15rem;
}

#vuxen {
    height: 15rem;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}

h2 {
    display: flex;
    justify-content: center;
}

#start p {
    margin: 7rem;
}

#välkommen {
    display: flex;
    justify-content: center;
}


footer {
    background-color: brown;
    padding: 5rem;
    background-image: url(/img/jean-philippe-delberghe-75xPHEQBmvA-unsplash\ \(2\).jpg);
    background-size: cover;
}

#footer-namn {
    padding: 0;
}


#ommig {
    background-color: rgb(204, 172, 221);
    height: 100vh;
    margin: 0;
}


.ommig-icon {
    width: 4rem;
    color: blue;
}

.article-utbildning {
    padding: 0rem;
}

#ommig-box {
    display: flex;
    justify-content:space-between;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: 5rem;
}

#projekt {
    background-color: rgb(206, 161, 201);
    padding-bottom: 10rem;
}

.image {
    position: relative;
    width: 20rem;
    margin: 0.5rem;
}

.image_img {
    display: block;
    width: 100%;
}

.image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85.5%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;

    justify-content: center;
    padding: 3rem;
    opacity: 0;
    transition: opacity 0.25s;
    backdrop-filter: blur(3px);
}

.image_overlay > * {
    transform: translateY(2rem);
    transition: transform 0.25s;
}

.image_overlay:hover {
    opacity: 1;
}

.image_overlay:hover > * {
    transform: translateY(0);
}

.image_title {
    font-size: 2em;
}

.image_description {
    font-size: 1.25em;
    margin-top: 0.25em;
}

.div-project {
    display: grid;
    grid-template-areas: 
    'p1 p2 p3'
    'p4 p5 p6';
}

.div-div-project {
    display: flex;
    justify-content: center;
}

.project1 {
    grid-area: p1;
}

.project2 {
    grid-area: p2;
}

.project3 {
    grid-area: p3;
}

.project4 {
    grid-area: p4;
}

.project5 {
    grid-area: p5;
}

.project6 {
    grid-area: p6;
}

#section-posters a, #three-posters a {
    text-decoration: none;
}






#citat {
    height: 100vh;
    padding-left: 12rem;
    padding-right: 12rem;
    padding-top: 15rem;
}

.citat {
    font-size: 4rem;
}

#kontakt {
    background-color: darkslategray;
    min-height: 100vh;
    padding-bottom: 5rem;
}


.contact-d1 {
    grid-area: d1;
    padding: 1rem;
}

.contact-d2 {
    grid-area: d2;
    padding: 1rem;
}

.contact-d3 {
    grid-area: d3;
    padding: 1rem;
}

.contact-d4 {
    grid-area: d4;
    padding: 1rem;
}

.contact-article {
    display: grid;
    grid-template-areas: 
    'd1 d2 d3 d4';
    padding: 4rem 4.5rem 0rem 4.5rem;
}

.div-d h5 {
    display: flex;
    justify-content: center;
}

.contact-text {
    text-align: center;
}




@media screen and (max-width: 1000px) {
    .div-project {
        display: grid;
        grid-template-areas: 
        'p1 p2'
        'p4 p3'
        'p5 p6';
    }

    .citat {
        font-size: 3rem;
    }

    #bebis {
        height: 10rem;
    }
    
    #vuxen {
        height: 10rem;
    }

}

@media screen and (max-width: 700px) {
    .div-project {
        display: grid;
        grid-template-areas: 
        'p1'
        'p2'
        'p3'
        'p4'
        'p5'
        'p6';
    }
    
    .citat {
        font-size: 2rem;
    }

    #citat {
        height: 100vh;
        padding-left: 6rem;
        padding-right: 6rem;
    }

    #intro {
        height: 100vh;
        padding-top: 15rem;
        padding-left: 6rem;
        padding-right: 6rem;
    }

    #bebis {
        height: 8rem;
    }
    
    #vuxen {
        height: 8rem;
    }

}








#da4 {
    width: 100%;
}

#da2 {
    width: 100%;
}

#da1 {
    width: 100%;
}

@media screen and (min-width: 1000px){
    #da4 {
        display: block;
        padding-top: 4rem;
    }

    #da2 {
        display: none;
    }

    #da1 {
        display: none;
    }
}

@media screen and (max-width: 1100px){
    
    #footersection {
        display: grid;
        grid-template-areas: 
        'fa1 fa2'
        'fa3 fa4';
    }

    #da4 {
        display: none;
    }

    #da2 {
        display: block;
        padding-top: 1rem;
    }

    #da1 {
        display: none;
    }

    .contact-article {
        grid-template-areas: 
        'd1 d2'
        'd3 d4';
        padding: 2rem 4.5rem 0rem 4.5rem;
    }

}

@media screen and (max-width: 600px){
    
    #footersection {
        display: grid;
        grid-template-areas: 
        'fa1'
        'fa2'
        'fa3'
        'fa4';
        padding: 1rem 2rem 3rem 2rem;
    }

    #da4 {
        display: none;
    }

    #da2 {
        display: none;
    }

    #da1 {
        display: block;
        padding-top: 3rem;
    }

    .contact-article {
        display: grid;
        grid-template-areas: 
        'd1'
        'd2'
        'd3'
        'd4';
        padding: 3rem 4.5rem 0rem 4.5rem;
    }

}