* {
    margin: 0;
}


:root {
    --color-a:rgb(0, 0, 0);
    --color-b: rgb(254, 151, 125);
    --color-c: rgb(255, 226, 211);
    --color-d:rgb(254, 245, 232);
    --color-e: rgb(255, 209, 184);
    --font-family-a: 'Assistant';
    --header-outer-height: 8rem;
    --header-inner-height: 5rem;
    --header-height-difference: calc(
        var(--header-outer-height) - var(--header-inner-height)
    );
}



#arrow {
    
}

#arrow-img {
    width: 4rem;
}







.bottomMenu {
    position: fixed;
    top: 80%;
    right: 2rem;
    display: flex;
    justify-content: flex-end;
    bottom: 0;
    z-index: 1;
    transition: all .5s;
}
.hide {
    opacity:0;
   
}
.show {
    opacity:1;
  
}








/* header */

.responsive-wrapper {
    width: 90%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.header-outer {
    height: var(--header-outer-height);
    position: sticky;
    top: calc(
        var(--header-height-difference) * -1);
    display: flex;
    align-items: center;
    background-color: var(--color-c);
    background-size: cover;
    z-index: 2;
}

.header-inner {
    height: var(--header-inner-height);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo img {
    display: block;
    height: 3rem;
}

.header.navigation {
    display: flex;
    flex-wrap: wrap;
}

.header-navigation a,
.header-navigation .burger {
    font-size: 1.125rem;
    margin-left: 2.5rem;
    position: relative;
}

.header-navigation a {
    display: none;
    font-size: 1.5rem;
    color: var(--color-a);
    text-decoration: none;
    font-family: var(--font-family-a);
}

.header-navigation .burger {
    border: 0;
    background-color: transparent;
    padding: 0;
}

.header-navigation a:hover:after, 
.header-navigation .burger:after {
    transform: scalex(1);
}

.header-navigation a:after,
.header-navigation .burger:after {
    transition: 0.5s ease;
    content:"";
    display: block;
    width: 100%;
    height: 5px;
    background-color: currentcolor;
    transform: scalex(0);
    position: absolute;
    bottom: -6px;
    left: 0;
}

@media (min-width:850px) {

    .header-navigation a {
        display: inline-block;
    }

    .header-navigation .burger {
        display: none;
    }

    .header-navigation ul {
        display: none;
    }
    
}

nav {
    display: flex;
    justify-content: center;
}

.navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    right: -40px;
    height: 120vh;
    top: -110vh;
    background-color: var(--color-e);
    width: 18rem;
    padding-top: 10rem;
    text-align: right;
    padding-right: 3rem;
}

.navActive {
    display: flex;
    transform: translateY(100vh);
}

.navLinks li {
    list-style: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--color-b);
    margin: 5px;
    border-radius: 25%;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

a:hover {
    color: var(--color-a);
}

.side-menu-links {
    display: block !important;
    margin-top: 3rem;
}









.rubrik1 {
    color: var(--color-d);
    font-family: var(--font-family-a);
}

.rubrik2 {
    color: var(--color-a);
    font-family: var(--font-family-a);
    margin-bottom: 4rem;
}

.rubrik3 {
    color: var(--color-a);
    font-family: var(--font-family-a);
}

.navbar {
    opacity: 50%;
}


#first {
    width: 80vw;
}

#first2 {
    font-size: 2rem;
    font-family: var(--font-family-a);
    font-weight: 100;
}

h2 {
    color: aqua;
}

#start {
    background-color: blanchedalmond;
    height: 100vh;
    background-image: url(/img/heroimg.jpg);
    background-size: cover;
    padding-top: 12rem;
}


#pil-div {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

#logga-div {
    display: flex;
    justify-content: center;
}

#pil-bild {
    height: 4rem;
}











h1 {
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}

h2 {
    display: flex;
    justify-content: center;
}

#start p {
    margin: 7rem;
}
















footer {
    background-color: brown;
    padding: 5rem;
    background-image: url(/img/heroimg.jpg);
    background-size: cover;
}


#footer-logga-div {
    display: flex;
    justify-content: center;
}

#footer-logga {
    width: 30vw;
}

#footer-rubrik {
    font-size: 1rem;
    font-family: 'Assistant';
    font-weight:lighter;
}








#ommig {
    background-color: var(--color-a);
    min-height: 100vh;
    margin: 0;
}


.ommig-article {
    max-width: 20rem;
}

.utbildning {
    grid-area: ut;
    padding: 3rem;
}

.områden {
    grid-area: om;
    padding: 3rem;
}

.program {
    grid-area: pr;
    padding: 3rem;
}

.certifikat {
    grid-area: ce;
    padding: 3rem;
}

#ommig-box {
    display: grid;
    grid-template-areas: 
    'ut om pr ce';
    display: flex;
    justify-content:space-between;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: 3rem;
}

.ommig-text {
    text-align: center;
    font-family: var(--font-family-a);
    color: var(--color-d);
}

.ommig-rubrik {
    font-family: var(--font-family-a);
    color: var(--color-d);
}


#bild {
    background-color: var(--color-a);
}

.bild-julia {
    width: 30rem;
}














#bild {
    height: 45rem;
}

.flip-container {
    position: absolute;
    padding-top: 10rem;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 1200;
}

.card:hover {
    transform: rotateY(-180deg);
}

.card.flipCard {
    transform: rotateY('-180deg');
}

.card {
    width: 40rem;
    height: 30rem;
    transition: all 700ms ease-in-out;
    transform-style: preserve-3d;
}

.front, .back {
    width: 40rem;
    height: 30rem;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.front {
    background: url(./img/julia_child.jpg) no-repeat center/cover;
}

.back {
    background: url(./img/julia_now.jpg) no-repeat center/cover;
    transform: rotateY(-180deg);
}
















#projekt {
    background-color: var(--color-d);
    padding-bottom: 10rem;
}

.image {
    position: relative;
    width: 20rem;
    margin: 0.5rem;
}

.image_img {
    display: block;
    width: 100%;
}

.image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;

    justify-content: center;
    padding: 3rem;
    opacity: 0;
    transition: opacity 0.25s;
    backdrop-filter: blur(3px);
}

.image_overlay > * {
    transform: translateY(2rem);
    transition: transform 0.25s;
}

.image_overlay:hover {
    opacity: 1;
}

.image_overlay:hover > * {
    transform: translateY(0);
}

.image_title {
    font-size: 2em;
    font-family: var(--font-family-a);
    color: var(--color-d);
}

.image_description {
    font-size: 1.25em;
    margin-top: 0.25em;
    font-family: var(--font-family-a);
    color: var(--color-d);
}

.div-project {
    display: grid;
    grid-template-areas: 
    'p1 p2 p3'
    'p4 p5 p6';
}

.div-div-project {
    display: flex;
    justify-content: center;
}

.project1 {
    grid-area: p1;
}

.project2 {
    grid-area: p2;
}

.project3 {
    grid-area: p3;
}

.project4 {
    grid-area: p4;
}

.project5 {
    grid-area: p5;
}

.project6 {
    grid-area: p6;
}






#citat {
    height: 100vh;
    padding-left: 12rem;
    padding-right: 12rem;
    padding-top: 14rem;
    background-color: var(--color-a);
}

.citat {
    font-size: 6rem;
    text-align: center;
    font-family: var(--font-family-a);
    color: var(--color-c);
}

#kontakt {
    min-height: 100vh;
    padding-bottom: 5rem;
    background-color: var(--color-d);
}

.contact-d1 {
    grid-area: d1;
    padding: 1rem;
}

.contact-d2 {
    grid-area: d2;
    padding: 1rem;
}

.contact-d3 {
    grid-area: d3;
    padding: 1rem;
}

.contact-d4 {
    grid-area: d4;
    padding: 1rem;
}

.contact-article {
    display: grid;
    grid-template-areas: 
    'd1 d2 d3 d4';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 4rem 6rem 0rem 6rem;
}

.div-d img{
    margin-bottom: 2rem;
    height: 4rem;
}

.img-div {
    display: flex;
    justify-content: center;
}

.contact-text {
    text-align: center;
    color: var(--color-a);
}

.contact-text a{
    text-decoration: none;
    color:var(--color-a);
    font-family: var(--font-family-a);
}
.contact-text a:hover{
    color: var(--color-b);
}



#da4 {
    width: 100%;
}

#da2 {
    width: 100%;
}

#da1 {
    width: 100%;
}




@media screen and (min-width: 1100px){
    #da4 {
        display: block;
        padding-top: 4rem;
    }

    #da2 {
        display: none;
    }

    #da1 {
        display: none;
    }


}

@media screen and (max-width: 1100px){

    .div-project {
        display: grid;
        grid-template-areas: 
        'p1 p2'
        'p4 p3'
        'p5 p6';
    }

    .citat {
        font-size: 3rem;
    }

    #bebis {
        height: 10rem;
    }
    
    #vuxen {
        height: 10rem;
    }


    #ommig {
        padding-bottom: 5rem;
    }


    #da4 {
        display: none;
    }

    #da2 {
        display: block;
        padding-top: 1rem;
    }

    #da1 {
        display: none;
    }

    .contact-article {
        grid-template-areas: 
        'd1 d2'
        'd3 d4';
        padding: 2rem 4.5rem 0rem 4.5rem;
        grid-template-columns: 1fr 1fr;
    }


    #footer-logga {
        width: 40vw;
    }
    
    #pil-div {
        margin-top: 12rem;
    }

    #ommig-box {
        display: grid;
        grid-template-areas: 
        'ut om'
        'pr ce';
    }

    .ommig-article {
        max-width: 30rem;
    }


    #bild {
        height: 40rem;
    }

    #citat {
        height: 30rem;
        padding-top: 8rem;
    }


}

@media screen and (max-width: 700px){
    
    .div-project {
        display: grid;
        grid-template-areas: 
        'p1'
        'p2'
        'p3'
        'p4'
        'p5'
        'p6';
    }
    
    .citat {
        font-size: 2rem;
    }

    #citat {
        height: 100vh;
        padding-left: 6rem;
        padding-right: 6rem;
    }

    #intro {
        height: 100vh;
        padding-top: 15rem;
        padding-left: 6rem;
        padding-right: 6rem;
    }

    #bebis {
        height: 8rem;
    }
    
    #vuxen {
        height: 8rem;
    }

    #da4 {
        display: none;
    }

    #da2 {
        display: none;
    }

    #da1 {
        display: block;
        padding-top: 3rem;
    }

    .contact-article {
        display: grid;
        grid-template-areas: 
        'd1'
        'd2'
        'd3'
        'd4';
        padding: 3rem 4.5rem 0rem 4.5rem;
        grid-template-columns: 1fr;
    }
    
    #footer-logga {
        width: 60vw;
    }
    
    #footer-rubrik {
        font-size: 1.2rem;
    }

    #pil-div {
        margin-top: 16rem;
    }

    #ommig-box {
        display: grid;
        grid-template-areas: 
        'ut'
        'om'
        'pr'
        'ce';
        padding: 3rem 3rem 0rem 3rem;
        grid-template-columns: 1fr;
    }

    .ommig-article {
        max-width: 70vw;
    }

    .utbildning {
        padding: 1rem;
    }

    .områden {
        padding: 1rem;
    }

    .program {
        padding: 1rem;
    }

    .certifikat {
        padding: 1rem;
    }

    .header-outer {
        height: var(--header-outer-height);
    }

    .card {
        top: -5rem;
        width: 20rem;
        height: 15rem;
    }

    .front, .back {
        width: 20rem;
        height: 15rem;
    }

    #bild {
        padding-top: 3.5rem;
        height: 20rem;
    }

    #citat {
        height: 20rem;
        padding-top: 7rem;
    }

}